parameters:
    ignoreErrors:
        - '#Call to an undefined static method [::a-zA-Z0-9\\_]+\(\)#'
        - '#Call to static method [a-zA-Z0-9\\_]+\(\) on an unknown class [a-zA-Z0-9\\_]+#'
        - '#Method [a-zA-Z0-9\\_]+\\Exceptions\\Handler::render\(\) should return Illuminate\\Http\\Response but returns Symfony\\Component\\HttpFoundation\\Response#'
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::getNamespace\(\)#'

    excludes_analyse:
            - %rootDir%/../../../tests/*
            - %rootDir%/../../../routes/*
            - %rootDir%/../../../legacy/*
            - %rootDir%/../../../database/*
            - %rootDir%/../../../public/*
            - %rootDir%/../../../deploy.php
